# LAYER_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
SRCDIR = "${TOPDIR}/../git"

BBFILES = ""

BBLAYERS += " \
  ${SRCDIR}/meta-exor \
  ${SRCDIR}/yocto-poky/meta \
  ${SRCDIR}/yocto-poky/meta-poky \
  ${SRCDIR}/yocto-poky/meta-yocto-bsp \
  ${SRCDIR}/yocto-meta-openembedded/meta-gnome \
  ${SRCDIR}/yocto-meta-openembedded/meta-oe \
  ${SRCDIR}/yocto-meta-openembedded/meta-python \
  ${SRCDIR}/yocto-meta-openembedded/meta-networking \
  ${SRCDIR}/yocto-meta-openembedded/meta-multimedia \
  ${SRCDIR}/meta-browser \
  ${SRCDIR}/meta-qt5 \
  ${SRCDIR}/meta-freescale \
"

BBLAYERS_NON_REMOVABLE ?= " \
  ${SRCDIR}/yocto-poky/meta \
  ${SRCDIR}/yocto-poky/meta-poky \
  "
