[Desktop Entry]
Version=1.92
Name=JMobile
# Only KDE 4 seems to use GenericName, so we reuse the KDE strings.
# From Ubuntu's language-pack-kde-XX-base packages, version 9.04-20090413.
GenericName=HMI
Comment=Start JMobile Runtime
Exec=nohup /home/root/portable/sato_start.sh
Terminal=false
Icon=/home/root/portable/jmobile_icon.png
Type=Application
Categories=HMI;
